<ul class="form">
    <li>
        <label for="userchooserdialogue-firstname">First name</label>
        <input name="firstname" id="userchooserdialogue-firstname" type="text" />
    </li>
    <li>
        <label for="userchooserdialogue-lastname">Last name</label>
        <input name="lastname" id="userchooserdialogue-lastname" type="text" />
    </li>
    <li>
        <label for="userchooserdialogue-username">Username</label>
        <input name="username" id="userchooserdialogue-username" type="text" />
    </li>
    <li>
        <label for="userchooserdialogue-password">Password</label>
        <input name="password" id="userchooserdialogue-password" type="text" />
    </li>
    <li>
        <label for="userchooserdialogue-email">Email address</label>
        <input name="email" id="userchooserdialogue-email" type="text" />
    </li>
    <li>
        <label for="userchooserdialogue-idnumber">ID number</label>
        <input name="idnumber" id="userchooserdialogue-idnumber" type="text" />
    </li>
</ul>
<button class="create">Create</button>
